src/app/util/deployable-rng.xml

<!--
#
# Copyright (C) 2011 Red Hat, Inc.
# Written by Greg Blomquist <gblomqui@redhat.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA  02110-1301, USA.  A copy of the GNU General Public License is
# also available at http://www.gnu.org/copyleft/gpl.html.
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <start>
    <element name="deployable">
      <attribute name="name"><text/></attribute>
      <element name="description"><text/></element>
      <ref name="assemblies-definition"/>
    </element>
  </start>

  <!-- Each assembly describes an instance to launch as part of this deployable
  -->
  <define name="assemblies-definition">
    <element name="assemblies">
      <oneOrMore>
        <element name="assembly">
          <attribute name="name"><text/></attribute>
          <!-- the hwp is the hardware profile that will be matched against a
               provider -->
          <attribute name="hwp"><text/></attribute>
          <!-- the image id corresponds to an image warehouse image id -->
          <element name="image">
            <attribute name="id"><text/></attribute>
            <optional>
              <attribute name="build"><text/></attribute>
            </optional>
          </element>
          <optional>
            <ref name="services-definition"/>
          </optional>
          <optional>
            <ref name="return-values-definition"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <!-- services describe the configuration that should be included in the
       launched instance -->
  <define name="services-definition">
    <element name="services">
      <oneOrMore>
        <element name="service">
          <attribute name="name"><text/></attribute>
          <ref name="service-configuration-definition"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <!-- service describes the executable, additional files, and runtime
       parameters that should be propagated to the launched instance -->
  <define name="service-configuration-definition">
    <element name="executable">
      <attribute name="url"><text/></attribute>
    </element>
    <optional>
      <element name="files">
        <oneOrMore>
          <element name="file">
            <attribute name="url"><text/></attribute>
          </element>
        </oneOrMore>
      </element>
    </optional>
    <optional>
      <element name="parameters">
        <oneOrMore>
          <ref name="configuration-parameter-definition"/>
        </oneOrMore>
      </element>
    </optional>
  </define>

  <define name="configuration-parameter-definition">
    <element name="parameter">
      <attribute name="name"><text/></attribute>
      <attribute name="type">
        <choice>
          <!-- only supporting scalar and password types for now -->
          <value>scalar</value>
          <!-- password types simply indicate that the UI collecting the
               value should obscure the input field's value -->
          <value>password</value>
        </choice>
      </attribute>
      <choice>
        <empty/>
        <element name="value"><text/></element>
        <element name="reference">
          <attribute name="assembly"><text/></attribute>
          <attribute name="parameter"><text/></attribute>
        </element>
      </choice>
    </element>
  </define>

  <define name="return-values-definition">
    <element name="returns">
      <oneOrMore>
        <element name="return">
          <attribute name="name"><text/></attribute>
        </element>
      </oneOrMore>
    </element>
  </define>
</grammar>
