src/app/util/template-rng.xml

<?xml version="1.0"?>
<!-- A Relax NG schema for the TDL (template description language) format

#### Important Note
##
## This Schema is cloned from the upstream project Oz, it is modified to handle extra content validation.  Please
## do not use this schema for generating TDL templates, it is likely to change to coincide project specific requirements.
## Always use the tdl.rng proper defined in the Oz project.
##
## The Oz project can be found here: https://github.com/clalancette/oz
####

-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name='template'/>
  </start>

  <define name='template'>
    <element name='template'>
      <optional>
        <attribute name='version'>
          <text/>
        </attribute>
      </optional>
      <interleave>
        <element name='name'>
          <text/>
        </element>
        <element name='os'>
          <interleave>
            <element name='name'>
              <choice>
                <value>Fedora</value>
                <value>FedoraCore</value>
                <value>FC</value>
                <value>RedHatEnterpriseLinux-2.1</value>
                <value>RHEL-2.1</value>
                <value>RedHatEnterpriseLinux-3</value>
                <value>RHEL-3</value>
                <value>CentOS-3</value>
                <value>RedHatEnterpriseLinux-4</value>
                <value>RHEL-4</value>
                <value>CentOS-4</value>
                <value>ScientificLinux-4</value>
                <value>SL-4</value>
                <value>RedHatEnterpriseLinux-5</value>
                <value>RHEL-5</value>
                <value>CentOS-5</value>
                <value>ScientificLinux-5</value>
                <value>SL-5</value>
                <value>RedHatEnterpriseLinux-6</value>
                <value>RHEL-6</value>
                <value>CentOS-6</value>
                <value>ScientificLinux-6</value>
                <value>SL-6</value>
                <value>OracleEnterpriseLinux-6</value>
                <value>OEL-6</value>
                <value>Ubuntu</value>
                <value>Windows</value>
                <value>RedHatLinux</value>
                <value>RHL</value>
                <value>OpenSUSE</value>
                <value>Debian</value>
              </choice>
            </element>
            <element name='version'>
              <text/>
            </element>
            <element name='arch'>
              <choice>
                <value>i386</value>
                <value>x86_64</value>
              </choice>
            </element>
            <element name='install'>
              <choice>
                <ref name='url'/>
                <ref name='iso'/>
              </choice>
            </element>
            <element name='rootpw'>
              <text/>
            </element>
            <optional>
              <element name='key'>
                <text/>
              </element>
            </optional>
          </interleave>
        </element>
        <optional>
          <element name='description'>
            <text/>
          </element>
        </optional>
        <optional>
          <element name='packages'>
            <zeroOrMore>
              <element name='package'>
                <attribute name='name'>
                  <text/>
                </attribute>
                <interleave>
                  <optional>
                    <element name='repository'>
                      <text/>
                    </element>
                  </optional>
                  <optional>
                    <element name='file'>
                      <text/>
                    </element>
                  </optional>
                  <optional>
                    <element name='arguments'>
                      <text/>
                    </element>
                  </optional>
                </interleave>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name='files'>
            <zeroOrMore>
              <element name='file'>
                <attribute name='name'>
                  <text/>
                </attribute>
                <choice>
                  <ref name='rawtype'/>
                  <ref name='base64type'/>
                </choice>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name='commands'>
            <zeroOrMore>
              <element name='command'>
                <attribute name='name'>
                  <text/>
                </attribute>
                <choice>
                  <ref name='rawtype'/>
                  <ref name='base64type'/>
                </choice>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name='repositories'>
            <zeroOrMore>
              <element name='repository'>
                <attribute name='name'>
                  <text/>
                </attribute>
                <interleave>
                  <element name='url'>
                    <text/>
                  </element>
                  <optional>
                    <element name='signed'>
                      <ref name='bool'/>
                    </element>
                  </optional>
                  <optional>
                    <element name='persisted'>
                      <ref name='bool'/>
                    </element>
                  </optional>
                  <optional>
                    <interleave>
                      <element name='clientcert'>
                        <text/>
                      </element>
                      <optional>
                        <element name='clientkey'>
                          <text/>
                        </element>
                      </optional>
                    </interleave>
                  </optional>
                  <optional>
                    <interleave>
                      <element name='sslverify'>
                        <ref name='bool'/>
                      </element>
                      <element name='cacert'>
                        <text/>
                      </element>
                    </interleave>
                  </optional>
                </interleave>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name='url'>
    <attribute name='type'>
      <value>url</value>
    </attribute>
    <element name='url'>
      <text/>
    </element>
  </define>

  <define name='iso'>
    <attribute name='type'>
      <value>iso</value>
    </attribute>
    <interleave>
      <element name='iso'>
        <text/>
      </element>
      <optional>
        <choice>
          <element name='md5sum'>
            <text/>
          </element>
          <element name='sha1sum'>
            <text/>
          </element>
          <element name='sha256sum'>
            <text/>
          </element>
        </choice>
      </optional>
    </interleave>
  </define>

  <define name='bool'>
    <choice>
      <data type="string">
        <param name="pattern">[Tt][Rr][Uu][Ee]</param>
      </data>
      <data type="string">
        <param name="pattern">[Ff][Aa][Ll][Ss][Ee]</param>
      </data>
      <data type="string">
        <param name="pattern">[Yy][Ee][Ss]</param>
      </data>
      <data type="string">
        <param name="pattern">[Nn][Oo]</param>
      </data>
    </choice>
  </define>

  <define name='rawtype'>
    <optional>
      <attribute name='type'>
	<value>raw</value>
      </attribute>
    </optional>
    <text/>
  </define>

  <define name='base64'>
    <data type="string">
      <param name="pattern">[a-zA-Z0-9+/]+={0,2}</param>
    </data>
  </define>

  <define name='base64type'>
    <attribute name='type'>
      <value>base64</value>
    </attribute>
    <ref name='base64'/>
  </define>

</grammar>
